main {
    padding: 0 5em;

    /*
    When in a grid inside .sidebar-container, prevent expanding
    outside the grid
    https://stackoverflow.com/a/43312314
    */
    min-width: 0;
}

.sidebar-container {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.sidebar-container nav.sidebar h3 {
    margin-bottom: 0;
}

#config-info ul {
    padding-left: 1em;
}

/* Reset some github-markdown that interferes with other styles */

.markdown-body nav ul {
    margin-bottom: 0;
}
.markdown-body nav li {
    margin-top: 0;
}

.markdown-body main ul.nav-tabs {
    margin-bottom: 0;
}

.markdown-body main li.nav-item {
    margin-top: 0;
}

.markdown-body main td ul {
    margin-bottom: 0;
}
