name: CI
on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

defaults:
  run:
    shell: bash -eu -o pipefail {0}

jobs:
  check_generated_files:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Check that generated files are up-to-date
        run: |
          config/generate.sh
          git diff --exit-code

  cabal_test:
    strategy:
      matrix:
        ghc_version:
          - '9.8.2' # https://gitlab.haskell.org/ghc/ghc/-/issues/25576
          - '9.10'
          - '9.12'

    name: 'cabal_test: ghc-${{ matrix.ghc_version }}'
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc_version }}
      -
        name: cabal configure
        run:
          cabal configure
            --enable-tests
            --test-show-details=streaming
            --flag dev
      -
        run: cabal update
      -
        run: cabal build --dry-run
      -
        name: Invalidate cache every month
        run: echo "CURR_MONTH=$(date +%B)" | tee -a "$GITHUB_ENV"
      -
        uses: actions/cache@v5
        with:
          path: ~/.cabal/store
          key: ${{ runner.os }}-cabal-cache-${{ env.CURR_MONTH }}-${{ matrix.ghc_version }}-${{ hashFiles('dist-newstyle/cache/plan.json') }}
          restore-keys: |
               ${{ runner.os }}-cabal-cache-${{ env.CURR_MONTH }}-${{ matrix.ghc_version }}-
      -
        run: cabal test

  stack_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest

    name: 'stack_test: ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
      -
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack_test-${{ hashFiles('stack.yaml', 'fourmolu.cabal') }}
      -
        run: stack test --fast

  build_haddock:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: ${{ runner.os }}-build_haddock-${{ hashFiles('stack.yaml', 'fourmolu.cabal') }}
      -
        name: Build haddock
        # just a sanity check, so no need to build third-party docs
        run: stack haddock --fast --no-haddock-deps
      -
        name: Bundle haddock docs
        run: tar czf fourmolu-docs.tar.gz -C "$(find .stack-work/dist -regex '.*/doc/html/[^/]*')" .
      -
        uses: actions/upload-artifact@v6
        with:
          name: fourmolu-docs
          path: fourmolu-docs.tar.gz

  build_prod:
    if: '!inputs' # only run if not called as workflow_call
    uses: ./.github/workflows/build-prod-binary.yml
    with:
      platforms: '["linux-x86_64"]'
      version: ${{ github.sha }}

  lint:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: ${{ runner.os }}-lint-stack-${{ hashFiles('stack.yaml', 'fourmolu.cabal') }}
      -
        name: Build Fourmolu executable
        run: stack build --fast :fourmolu
      -
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-lint-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      -
        name: Install hooky
        run: |
          curl -fsSL \
            https://github.com/brandonchinn178/hooky/releases/download/v1.0.0/hooky-1.0.0-linux-x86_64 \
            -o /usr/local/bin/hooky
          chmod +x /usr/local/bin/hooky
      -
        name: Run hooky
        run: hooky run --all --format=verbose
        env:
          SKIP: no_commit_to_branch

  check_sdist:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: ${{ runner.os }}-check_sdist-${{ hashFiles('stack.yaml') }}
      -
        name: Create sdist bundle
        run: stack sdist --test-tarball --tar-dir .
      -
        uses: actions/upload-artifact@v6
        with:
          name: fourmolu-sdist
          path: fourmolu-*.tar.gz

  check_redundant_examples:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        run: scripts/clean_redundant_examples.py
      -
        run: git diff --exit-code data/examples/
