name: Release
on: workflow_dispatch

defaults:
  run:
    shell: bash -eu -o pipefail {0}

jobs:
  cabal_file:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: haskell-actions/parse-cabal-file@v1
        id: cabal_file
        with:
          cabal_file: fourmolu.cabal
    outputs:
      version: ${{ steps.cabal_file.outputs.version }}

  build_binaries:
    needs:
      - cabal_file
    uses: ./.github/workflows/build-prod-binary.yml
    with:
      platforms: |
        [
          "linux-x86_64",
          "linux-arm64",
          "darwin-x86_64",
          "darwin-arm64"
        ]
      version: ${{ needs.cabal_file.outputs.version }}

  check_changelog:
    runs-on: ubuntu-latest
    needs:
      - cabal_file
    env:
      version: ${{ needs.cabal_file.outputs.version }}
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Validate CHANGELOG
        run:
          scripts/release_notes.py validate-changelog
            --fourmolu-version "${version}"

  ci:
    uses: ./.github/workflows/ci.yml

  release:
    runs-on: ubuntu-latest
    needs:
      - cabal_file
      - build_binaries
      - check_changelog
      - ci

    env:
      version: ${{ needs.cabal_file.outputs.version }}

    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/download-artifact@v7
        with:
          path: ./.release/bin/
          pattern: fourmolu-binary-*
          merge-multiple: true
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-sdist
          path: ./.release/sdist/
      -
        name: Load Hackage token secret name
        id: hackage_token_secret
        run: |
          USERNAME="$(echo "${GITHUB_ACTOR}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')"
          echo "name=HACKAGE_TOKEN_${USERNAME}" >> "${GITHUB_OUTPUT}"
      -
        name: Generate release notes
        run:
          scripts/release_notes.py generate
            --fourmolu-version "${version}"
            --bin linux-x86_64 .release/bin/fourmolu-${version}-linux-x86_64
            --bin linux-aarch64 .release/bin/fourmolu-${version}-linux-arm64
            --bin macos-x86_64 .release/bin/fourmolu-${version}-osx-x86_64
            --bin macos-aarch64 .release/bin/fourmolu-${version}-osx-arm64
            | tee .release/release-notes.md
      -
        uses: haskell-actions/hackage-publish@v1
        with:
          hackageToken: ${{ secrets[steps.hackage_token_secret.outputs.name] }}
          packagesPath: ./.release/sdist
      -
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.version }}
          body_path: .release/release-notes.md
          draft: true
          target_commitish: ${{ github.sha }}
          files: .release/bin/*
          fail_on_unmatched_files: true
          overwrite_files: false
