name: Release
on: workflow_dispatch

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    with:
      is_release: true

  release:
    runs-on: ubuntu-latest
    needs:
      - ci

    env:
      VERSION: ${{ needs.ci.outputs.version }}

    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-binary-linux-x86_64
          path: ./.release/
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-binary-linux-arm64
          path: ./.release/
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-binary-osx-x86_64
          path: ./.release/
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-binary-osx-arm64
          path: ./.release/
      -
        uses: actions/download-artifact@v7
        with:
          name: fourmolu-sdist
          path: ./.release/sdist/
      -
        name: Load Hackage token secret name
        id: hackage_token_secret
        run: |
          USERNAME="$(echo "${GITHUB_ACTOR}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')"
          echo "name=HACKAGE_TOKEN_${USERNAME}" >> "${GITHUB_OUTPUT}"
      -
        name: Generate release notes
        run:
          scripts/release_notes.py generate
            --fourmolu-version "${VERSION}"
            --bin.linux-x86_64 .release/fourmolu-${VERSION}-linux-x86_64
            --bin.linux-aarch64 .release/fourmolu-${VERSION}-linux-arm64
            --bin.macos-x86_64 .release/fourmolu-${VERSION}-osx-x86_64
            --bin.macos-aarch64 .release/fourmolu-${VERSION}-osx-arm64
            | tee .release/release-notes.md
      -
        uses: haskell-actions/hackage-publish@v1
        with:
          hackageToken: ${{ secrets[steps.hackage_token_secret.outputs.name] }}
          packagesPath: ./.release/sdist
      -
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          body_path: .release/release-notes.md
          draft: true
          target_commitish: ${{ github.sha }}
          files: |
            .release/fourmolu-${{ env.VERSION }}-linux-x86_64
            .release/fourmolu-${{ env.VERSION }}-linux-arm64
            .release/fourmolu-${{ env.VERSION }}-osx-x86_64
            .release/fourmolu-${{ env.VERSION }}-osx-arm64
          fail_on_unmatched_files: true
          overwrite_files: false
